/* Search.css */
.search {
    display: flex; 
    justify-content: center;  
    align-items: center;  
    background: linear-gradient(to right, #d5f6f1, #ffffff);
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 1vw 4vw;
  }

.search-bar {
    width: 100%;  
    max-width: 400px; 
    padding: 10px 15px; 
    font-size: 16px;  
    border: 1px solid #333;  
    outline: none;  
    transition: all 0.3s ease;  
    border-radius: 20px;
  }
  
  .search-bar:focus {
    border-color: #000;  
 
  }
  
  .search-bar::placeholder {
    color: #aaa; 
    font-style: italic;  
  }
  
